@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

/* ----------------------- epic gradient hover button ----------------------- */
.button {
    color: #2cbe00;
    background-color: transparent;
}
.button:hover {
    border: none;
    background-color: #32cc04;
    background: linear-gradient(124deg, #048300, #32cc04, #8bd600, #32cc04);
    background-size: 200%;
    color: white;
    -webkit-animation: rainbow 4s ease infinite;
    -moz-animation: rainbow 4s ease infinite;
    -o-animation: rainbow 4s ease infinite;
    animation: rainbow 4s ease infinite;
    cursor: pointer;
    border: #2cbe00;
}

/* ------------------------------- main header ------------------------------ */
#main-header {
    margin: 40px auto 10px auto;
    display: flex;
    flex-direction: row;
    width: 100vw;
    list-style: none;
    align-items: center;
    height: 60px;
    padding-right: 13px;
}
.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.middle {
    flex: 1;
    display: flex;
    justify-content: center;
}
.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
#main-header #showstop {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    margin-left: 3vw;
}
#main-header #list-name {
    margin: 0;
    font-size: 35px;
}
#sign-out {
    width: 95px;
    font-weight: bold;
    border-radius: 6px;
    padding: 7px;
    border: 1px solid #2ab300;
    margin-right: 3vw;
    margin-left: 8px;
}
#toggle-mode {
    width: 95px;
    font-weight: bold;
    border-radius: 6px;
    padding: 7px;
    border: 1px solid #2ab300;
}

/* --------------------------------- toolbar -------------------------------- */
#toolbar {
    display: flex;
    flex-direction: row;
    height: 90px;
    min-width: 590px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
#status-select {
    width: 150px;
    margin: auto;
    margin: 0;
}
#search {
    text-align: center;
}
#basic-search {
    width: 200px;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid hsl(0, 0%, 80%);
    border-bottom: 1px solid hsl(0, 0%, 80%);
    padding: 8px;
    background-color: transparent;
}
#basic-search:focus {
    outline: none !important;
    border: 1px solid #29af00;
    border-right: 0;
}
#advanced-search {
    font-weight: bold;
    border: 1px solid #2ab300;
    padding: 8px;
}
#add-entry-button {
    font-weight: bold;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #2ab300;
    border-left: 0;
}

/* ---------------------------- table in general ---------------------------- */
.table {
    table-layout: fixed;
    margin: auto;
    width: 95vw;
    text-align: left;
    border-collapse: collapse;
    min-width: 590px;
}
.table th,td {
    padding: 0.25rem 10px 0.25rem 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --------------------------- sticky info header --------------------------- */
.sticky > th {
    position: sticky;
    top: 0;
    border-bottom: 0px !important;
    z-index: 1;
    background-color: transparent;
}
.sticky > th:after, th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}
.sticky > th:after {
    bottom: 0;
    border-bottom: 2px solid #ddd;
}
#info-header {
    height: 35px;
    font-size: 15px;
}
.arrow {
    display: none;
}

/* ------------------------------ list columns ------------------------------ */
#title-header, #rating-header, #status-header, #progress-header {
    text-decoration: underline;
}
.number {
    width: 40px;
    text-align: center;
}
#number-header, #type-header, #genres-header, #tags-header, #notes-header {
    color: #2cbe00;
}
.title {
    width: auto;
    padding-left: 10px;
    font-weight: bold;
}
.rating {
    width: 90px;
    text-align: center;
}
.status {
    width: 110px;
    text-align: center;
}
.progression-header {
    width: 100px;
    text-align: center;
}
.progression {
    width: 120px;
    text-align: right;
    padding-right: 32px !important;
}
.type {
    width: 120px;
    text-align: center;
}
.genres {
    width: 325px;
    text-align: left;
    padding-left: 10px;
}
.tags {
    width: 325px;
    text-align: left;
    padding-left: 10px;
}
.notes {
    width: 600px;
    text-align: left;
    padding-left: 10px;
}

/* ------------------------------- list items ------------------------------- */
.plus-button {
    position: absolute;
    left: 5px;
    font-size: 13px;
    color: #26a300;
    transition: color 0.2s ease;
}
.plus-button:hover {
    color: #32cc04;
    cursor: pointer;
}
.absolute {
    display: inline;
    position: relative;
}
.placeholder {
    color: rgb(180, 180, 180);
}

/* --------------------------- gradient animation --------------------------- */
.rainbow-text { 
    background-color: black;
    background: linear-gradient(124deg, #048300, #32cc04, #8bd600, #32cc04);
    background-size: 200%;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 4s ease infinite;
    -moz-animation: rainbow 4s ease infinite;
    -o-animation: rainbow 4s ease infinite;
    animation: rainbow 4s ease infinite;
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@media screen and (max-width: 2400px) {
    .genres, .tags {
        width: 12vw;
    }
    .notes {
        width: 18vw;
    }
}
@media screen and (max-width: 1900px) {
    .type {
        display: none;
    }
}
@media screen and (max-width: 1700px) {
    .genres, .tags {
        width: 18vw;
    }
    .notes {
        display: none;
    }
}
@media screen and (max-width: 1500px) {
    .genres {
        display: none;
    }
    .tags {
        width: 25vw;
    }
}
@media screen and (max-width: 1200px) {
    .tags {
        width: 15vw;
    }
}

@media screen and (max-width: 1000px) {
    #main-header {
        height: 6vw;
    }
    #main-header #showstop {
        font-size: 4.8vw;
    }
    #main-header #list-name {
        font-size: 3vw;
    }
    #main-header #list-name {
        font-size: 3vw;
    }
    .tags {
        display: none;
    }
}
@media screen and(max-width: 800px) {
    .status {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    #main-header {
        min-width: 600px;
    }
    #main-header #showstop {
        font-size: 35px;
    }
    #main-header #list-name {
        font-size: 22px;
    }
    #toggle-mode {
        display: none;
    }
    .status {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #main-header {
        width: 600px;
    }
    #main-header #showstop {
        margin-left: 10px;
    }
    #main-header #add-entry-button {
        margin-right: 10px;
    }
    #main-header #sign-out {
        margin-right: 10px;
    }
    .table {
        width: 600px;
    };
}